@import "variables";

.headerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;

  /* Light theme */
  color: $primary-color;
  background-color: $secondary-color;

  /* Dark theme */
  &.dark-theme {
    color: $dark-primary-color;
    background-color: $dark-secondary-color;
  }
}

.headerMenu > li {
  margin: 10px auto;
  list-style: none;
}

.headerMenu > li > a {
  text-decoration: none;
}

.themeSwitcher {
  /* Light theme */
  border: 1px solid $tertiary-color;
  background-color: $secondary-color;
  color: $dark-secondary-color;
  border-radius: 8px;
  padding: 5px;

  /* Dark theme */
  &.dark-theme {
    border: 1px solid $accent-color;
    background-color: $dark-secondary-color;
    color: $primary-color;
  }
}

/* Start Media queries */

/* Desktop */
@media (min-width: 992px) {
  .headerMenu {
    flex-direction: row;
    padding: 10px;
  }
}

/* End Media queries */
