$primary-color: #736ced;
$secondary-color: #f8f7ff;
$tertiary-color: #118ab2;
$accent-color: #ffd166;
$complementary-color: #06d6a0;
$dark-primary-color: #ced673;
$dark-secondary-color: #1f2023;
$dark-tertiary-color: #b28a11;
$dark-accent-color: #66d1ff;
$dark-complementary-color: #a0d606;
